body {
    background-color:#485562;
}

html {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.container {
    padding: 40% 0 40% 0;
}

$body-color: #7CCDD1;
$body-font-size:1.5rem;

.bodyText {
    color: $body-color;
    font-size: $body-font-size;
}

$h3-font-color:#E2E8A8;

h3 {
 color: $h3-font-color;
}

ul.collection {
    z-index: -1;
}



@import './partials/Profile';
@import './partials/Header';
@import './partials/Nav';
@import './partials/PickTime';
@import './partials/Confirm';