body {
    background-color:#485562;
}

$body-font: 'Fira Sans Condensed', sans-serif;
$body-color: #7CCDD1;
$body-font-size:1rem;

.bodyText {
    color: $body-color;
    font-family: $body-font;
    font-size: $body-font-size;
}
nav {
    position: fixed;
    bottom: 0;
}


@import './partials/Profile';
@import './partials/Header';