body {
  background-color: #485562; }

.container {
  height: auto;
  padding-top: 140px; }

.bodyText {
  color: #7CCDD1;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.5rem; }

h3 {
  color: #E2E8A8; }

h4 {
  color: white; }

img.circle.responsive-img {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

ul.bodyText {
  display: flex;
  justify-content: space-around; }

.em, .em-svg {
  height: 1em;
  width: 1em; }

.heading {
  color: #485562;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 64px;
  background-color: #7CCDD1;
  width: 100%;
  position: fixed;
  top: 0; }

nav {
  position: fixed;
  bottom: 0;
  background-color: #FC7962; }

nav i.material-icons {
  font-size: 40px; }

ul.iconNav {
  display: flex;
  justify-content: space-evenly; }

/* label color */
.input-field label {
  color: white; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: white; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: white; }

.input-field label, input#timer {
  font-size: 1.5rem; }

.buttons {
  display: flex; }
