$heading-color:#485562;
$heading-font: 'Fira Sans Condensed', sans-serif;
$heading-font-size:64px;
$heading-font-weight: 600;

.heading {
    color:$heading-color;
    font-family:$heading-font;
    font-size:$heading-font-size;
    background-color: $body-color;
    width:100%;
    position: fixed;
    top: 0;
}
