  /* label color */
   .input-field label {
     color: white;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: white;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: white;
   }

   .input-field label, input#timer{
       font-size:1.5rem;
   }
  
 