

h4 {
    color: white;
}

img.circle.responsive-img {
    max-width:80%;
    margin-left:10%;
    margin-right:10%;
}

ul.bodyText {
    display: flex;
    justify-content: space-around;
}

.em, .em-svg {
    height: 1em;
    width: 1em;
}
